* {
    box-sizing: border-box;
}
:root {
    --small: 1.4rem;
    --medium: 1.8rem;
    --large: 2.4rem;
    --gray1: #BDBDBD;
    --gray2: #4F4F4F;
    --gray3: #333333;
}
body {
    font-family: 'Space Mono', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    min-width: 320px;
    font-size: 62.5%;
    row-gap: 50px;
}
.header-container {
    width: 90%;
    height: 100px;
    margin: 0 auto;
}
.header-container-p p {
    font-size: var(--medium);
    font-weight: bold;
    color: var(--gray3);
}
.main-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    row-gap: 60px;
}
.main-hero-title h1 {
    font-size: 4.8rem;
    color: var(--gray3);
    line-height: 80px;
}
.main-hero-p p {
    font-size: var(--medium);
    color: var(--gray2);
}
.main-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-img .main-img-container img {
    width: 100%;
    max-width: 550px;
}
.main-button button {
    background-color: var(--gray3);
    width: 216px;
    height: 68px;
}
.main-button button a {
    text-decoration: none;
    color: white;
    font-family: 'Space Mono', sans-serif;
    font-weight: bold;
}
.footer-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.footer-container-p p {
    color: var(--gray1);
    font-size: var(--small);
}
.footer-container-p p .footer-myself-link {
    font-weight: bold;
    color: var(--gray1);
}
.footer-container-p p .footer-dev-link {
    text-decoration: none;
    color: var(--gray1);
}



