* {
    box-sizing: border-box;
}
:root {
    --gray1: #BDBDBD;
    --gray2: #4F4F4F;
    --gray3: #333333;
}
body { /* BODY */
    font-family: 'Space Mono', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    min-width: 320px;
}
.header-container { /* HEADER */
    width: 90%;
    height: 100px;
    margin: 0 auto;
}
.header-container-p p {
    font-size: 24px;
    font-weight: bold;
    color: var(--gray3);
}
.main-container { /* MAIN */
    width: 90%;
    margin: 0 auto;
    display: grid;
    row-gap: 80px;
}
.main-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.main-hero-title h1 {
    font-size: 48px;
    color: var(--gray3);
    margin: 0;
    line-height: 71px;
}
.main-hero-p p {
    font-size: 18px;
    color: var(--gray2);
    margin: 0;
    line-height: 27px;
}
.main-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-img .main-img-container img {
    width: 100%;
    max-width: 550px;
}
.main-button button {
    background-color: var(--gray3);
    width: 216px;
    height: 68px;
    transform: scale(1);
    transition: transform 500ms;
}
.main-button button a {
    text-decoration: none;
    color: white;
    font-family: 'Space Mono', sans-serif;
    font-weight: bold;
}
.footer-container { /* FOOTER */
    margin: 150px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
}
.footer-container-p {
    text-align: center;
}
.footer-container-p p {
    color: var(--gray1);
    font-size: 14px;
    margin: 0;
}
.footer-container-p p .footer-myself-link {
    font-weight: bold;
    color: var(--gray1);
}
.footer-container-p p .footer-dev-link {
    text-decoration: none;
    color: var(--gray1);
}

/* --- Transitions and animations --- */

.main-button button:hover {
    transform: scale(1.1);
    transition: transform 500ms;
}
.footer-container-p p .footer-myself-link:hover {
    font-weight: bold;
    color: var(--gray2);
}
.footer-container-p p .footer-dev-link:hover {
    text-decoration: none;
    color: var(--gray2);
}

/* --- Responsive design - desktop --- */

@media (min-width: 1100px) {
    .main-container {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            'img hero'
            'img button'
        ;
        column-gap: 50px;
    }
    .main-img {
        grid-area: img;
    }
    .main-hero {
        grid-area: hero;
        gap: 0;
        justify-content: space-between;
    }
    .main-button {
        grid-area: button;
    }
    .main-hero-title h1 {
        font-size: 68px;
        line-height: 95px;
    }
    .main-hero-p {
        width: 70%;
    }
    .main-hero-p p {
        font-size: 24px;
        line-height: 36px;
    }
}



